<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
    <script src="static/semantic/dist/semantic.min.js"></script>


</head>
<body>

<table class="ui celled padded table">
    <thead>
    <tr>
        <th class="single line">序号</th>
        {% for i in head%}
        <th class="fields">{{i}}</th>
        {%end for%}
    </tr>
    </thead>
    <tbody id='test'>


    <!--内容-->
    <div>
        <tr id="jq">
            <td>test</td>

            <td>
                <div class="ui input">
                    <input type="text" placeholder={{i}}>
                </div>

            </td>

        </tr>
    </div>
    <tr>
        <td></td>
        {% for i in head%}
        <td>
            <div class="ui input">
                <input type="text" placeholder={{i}} value="">
            </div>

        </td>
        {%end for%}
    </tr>
    </tbody>
</table>


<!--提交-->
<div id='info_submit' class="ui mini form" data-value="laobzhang">
    <div class="fields" data-value="laobzhang">
        {% for i in head%}
        <div class="field" >
            <label>{{i}}</label>
            <input id='test1' placeholder={{i}} type="text" data-value={{i}}>
        </div>
        {%end for%}
    </div>
    <div id='tijiao' class="ui purple button" data-value="'laoli">Submit</div>
</div>

<br>
<button id='send_data' class="ui submit button">刷新按钮</button>

</body>
</html>


<script>

    $(function () {


        req_info(); // 第一次加载数据
        // 开启定时任务，时间间隔为3000 ms。
        setInterval(function () {
            req_info();
        }, 30000);
    });

    function req_info() {
        $.get("/send_data",
            {
                name: "Donald Duck",
                city: "Duckburg"
            },
            function (data) {
//                console.log(data)

                $('#test').replaceWith(data)

//                $(data).insertAdjacentHTML($('#jq'))

            });
    };

    $("#send_data").click(function () {
        $.get("/send_data",
            {
                name: "Donald Duck",
                city: "Duckburg"
            },
            function (data) {
//                console.log(data)

                $('#test').replaceWith(data)


            });

    });



</script>