<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
    <script src="static/semantic/dist/semantic.min.js"></script>


</head>
<body>

<table class="ui celled padded table">
    <thead>
    <tr>
        <th class="single line">序号</th>
        {% for i in head%}
        <th class="fields">{{i}}</th>
        {%end for%}
    </tr>
    </thead>
    <tbody id='test'>


    <!--内容-->
    <div>
        <tr id="jq">
            <td>test</td>

            <td>
                <div class="ui input">
                    <input type="text" placeholder={{i}}>
                </div>

            </td>

        </tr>
    </div>
    <tr>
        <td></td>
        {% for i in head%}
        <td>
            <div class="ui input">
                <input type="text" placeholder={{i}}>
            </div>

        </td>
        {%end for%}
    </tr>
    </tbody>
</table>
<table class="ui celled padded table">
    <tbody id='data_input'>


    <!--输入-->

    <tr>
        <td></td>
        {% for i in head%}
        <td>
            <div class="ui input">
                <input type="text" placeholder={{i}}>
            </div>

        </td>
        {%end for%}
    </tr>
    </tbody>
</table>


<br>
<button id='ui button send_data'>发送</button>

</body>
</html>


<script>

    $(function () {
        req_info(); // 第一次加载数据
        // 开启定时任务，时间间隔为3000 ms。
        setInterval(function () {
            req_info();
        }, 3000);
    });

    function req_info() {
        $.get("/send_data",
            {
                name: "Donald Duck",
                city: "Duckburg"
            },
            function (data) {
                console.log(data)

                $('#test').replaceWith(data)

//                $(data).insertAdjacentHTML($('#jq'))

            });
    };

    $("#send_data").click(function () {
        $.get("/send_data",
            {
                name: "Donald Duck",
                city: "Duckburg"
            },
            function (data) {
                console.log(data)

//                $('#jq').replaceWith(data)
                $('#test').replaceWith(data)
//                $(data).replaceAll($('#jq'))

            });

    });


    //$(document).ready(function(){
    //  $("#send_data").click(function(){
    //    $.get("/send_data",
    //    {
    //      name:"Donald Duck",
    //      city:"Duckburg"
    //    },
    //    function(data,status){
    //      alert("数据：" + data + "\n状态：" + status);
    //    });
    //  });
    //});


    //    $(function () {
    //        getData(); // 第一次加载数据
    //        // 开启定时任务，时间间隔为3000 ms。
    //        setInterval(function () {
    //            getData();
    //        }, 30000);
    //    });
    //
    //
    //    function getData() {
    //        $.getJSON("/send_data", function (data) {
    //            if (200 == data.code) {
    //                $("#systolic").text(data.data.systolic);
    //                $("#diastolic").text(data.data.diastolic);
    //                $("#pulse").text(data.data.pulse);
    //            }
    //        });
    //    };


    //    $(function () {
    //        console.log(1)
    //        // 开启定时任务，时间间隔为3000 ms。
    //        setInterval(function () {
    //            console.log(2)
    //        }, 30000);
    //    });

</script>