<!DOCTYPE html>
<html>
<head>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>-->
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script src="jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>


<h1>new</h1>
<div class="fields" id="vuetest">
    <table class="ui celled padded table">
        <thead>
        <tr>
            <td v-for="title in head">{{title}}</td>
            <td>删除</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(each_data, index) in res">

            <td v-for="title in head">{{each_data[title]}}</td>

            <td>
                <button class="ui blue button" @click="deleteData(each_data['web_id'])">Delete</button>
                <button class="ui yellow button" @click="editData(each_data['web_id'])">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="ui mini form">
        <div class="fields">
            <div v-for="title in head" class="field">
                <div  v-if="title != 'web_id'">
                <p>{{ title }}</p>
                <input type="text" v-model="new_info[title]"/>
                </div>
            </div>
            <div @click="createData" class="ui purple button">Submit</div>
        </div>

    </div>
</div>


<!--提交-->


<br>
<button id='deal_data' class="ui submit button">刷新数据</button>

</body>
</html>


<script>

    $(function () {


        first_get_data(); // 第一次加载数据
        // 开启定时任务，时间间隔为3000 ms。
        setInterval(function () {
            refresh_data();
        }, 300000);
    });


    var vm = new Vue({
        el: '#vuetest',
        data: {
            head: [],
            res: [],
            new_info: {},
        },
        methods: {
            createData: function () {

                axios.post('http://localhost/api/submit_data', JSON.stringify(vm.new_info))
                    .then(function (response) {
                        vm.head = response.data.head;
                        vm.res = response.data.info_data;
                        vm.new_info = response.data.new_info
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            deleteData: function (index) {
                // 删一个数组元素
                console.log(index);
                axios.get('http://localhost/api/delete_data', {'params': {'index':index}})
                    .then(function (response) {
                        vm.head = response.data.head;
                        vm.res = response.data.info_data;
                        vm.new_info = response.data.new_info

                    })
                    .catch(function (error) {
                        console.log(error);
                    });


            },



            editData: function (index) {
                // 删一个数组元素
                console.log(index);
                alert('edit');


            }
        }
    });


    function first_get_data() {
        $.get("http://localhost/api/get_data",

            function (res_data) {
                vm.res = res_data.info_data;
                vm.head = res_data.head;
                vm.new_info = res_data.new_info;
            });
    }
    function refresh_data() {
    $.get("http://localhost/api/get_data",

        function (res_data) {
            vm.res = res_data.info_data;
            vm.head = res_data.head;
        });
    }

    $("#deal_data").click(function () {
        refresh_data();
    });




</script>